:root{
    --primary-color: #646cff;
    --secondary-color: #535bf2;
    --background-color: #1c1f1f;

    font-weight: 1500;
    color: black;
    border: #535bf2;
}


.signout-btn {
    background: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s;
}

.signout-btn:hover {
    background: #ff7875;
}
