
.chat-portal {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: first baseline;
    width: 80px;
    height: 60vh;

    font-weight: 500;
    color: #646cff;
    background-color: white;
    border: #535bf2;

}

.chat-history {

    width: 250px;
    height: 60vh;
    font-weight: 500;
    align-items: flex-end;
    color: #646cff;
    background-color: #1c1f1f;

    /*margin: 80px auto auto auto;*/
    /*padding: 60px 70px 70px 70px;*/

    border: #535bf2;

}

.chat-screen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 600px;
    overflow-y: auto;
    background: #f5f5f5;
    padding: 10px;
    overflow-anchor: none;
    scroll-margin-inline-end: 10px;
}