:root{
    --nav-bar-height: 80px;
    --nav-bar-background-color: #333;
    --nav-bar-text-color: #fff;
    background-color: #1a1a1a;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 20px 0px 20px 0px;
    margin: 0 0 0 0;
    background-color: black;
}